# ðŸ§ƒ Coca-Cola Stock Analysis
### Exploratory Data Analysis (EDA) Project

In [9]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_style('whitegrid')
plt.style.use('fivethirtyeight')

## ðŸ“‚ Load Data

In [10]:
history = pd.read_csv(r'C:\Users\vanis\Downloads\CocaCola-Stock-Analysis\data/Coca-Cola_stock_history.csv')
info = pd.read_csv(r'C:\Users\vanis\Downloads\CocaCola-Stock-Analysis\data/Coca-Cola_stock_info.csv')
print('History shape:', history.shape)
print('Info shape:', info.shape)
history.head()

History shape: (15311, 8)
Info shape: (153, 2)

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,1962-01-02,0.050016,0.051378,0.050016,0.050016,806400,0.0,0
1,1962-01-03,0.049273,0.049273,0.048159,0.048902,1574400,0.0,0
2,1962-01-04,0.049026,0.049645,0.049026,0.049273,844800,0.0,0
3,1962-01-05,0.049273,0.049892,0.048035,0.048159,1420800,0.0,0
4,1962-01-08,0.047787,0.047787,0.046735,0.047664,2035200,0.0,0

## ðŸ§¹ Data Cleaning

In [11]:
print(history.isnull().sum())
history.fillna(method='ffill', inplace=True)
history.dropna(inplace=True)
history.info()

Date            0
Open            0
High            0
Low             0
Close           0
Volume          0
Dividends       0
Stock Splits    0
dtype: int64
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15311 entries, 0 to 15310
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Date          15311 non-null  object
 1   Open          15311 non-null  float64
 2   High          15311 non-null  float64
 3   Low           15311 non-null  float64
 4   Close         15311 non-null  float64
 5   Volume        15311 non-null  int64
 6   Dividends     15311 non-null  float64
 7   Stock Splits  15311 non-null  int64
dtypes: float64(5), int64(2), object(1)
memory usage: 957.1+ KB

C:\Users\vanis\AppData\Local\Temp\ipykernel_41568\952930189.py:2: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  history.fillna(method='ffill', inplace=True)

## ðŸ“Š Summary Statistics

In [12]:
history.describe()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
count,15311.000000,15311.000000,15311.000000,15311.000000,1.531100e+04,15311.000000,15311.000000
mean,11.812883,11.906708,11.717375,11.815409,9.139213e+06,0.001678,0.001110
std,15.025726,15.133336,14.915580,15.026316,7.957947e+06,0.021302,0.049148
min,0.037154,0.037279,0.034890,0.037028,7.680000e+04,0.000000,0.000000
25%,0.238453,0.240305,0.236415,0.238312,2.889600e+06,0.000000,0.000000
50%,4.935146,4.980985,4.884242,4.937339,7.708800e+06,0.000000,0.000000
75%,17.383926,17.612844,17.168283,17.415106,1.307130e+07,0.000000,0.000000
max,66.037933,66.235058,64.776308,65.259270,1.241690e+08,0.440000,3.000000

## ðŸ“ˆ Visualizations

In [ ]:
plt.figure(figsize=(12,6))
plt.plot(history['Date'], history['Close'], label='Close Price')
plt.title('Coca-Cola Closing Price Over Time')
plt.xlabel('Date')
plt.ylabel('Close Price')
plt.legend()
plt.show()

In [ ]:
history['MA_20'] = history['Close'].rolling(window=20).mean()
history['MA_50'] = history['Close'].rolling(window=50).mean()
plt.figure(figsize=(12,6))
plt.plot(history['Date'], history['Close'], label='Close', color='blue')
plt.plot(history['Date'], history['MA_20'], label='MA 20', linestyle='--')
plt.plot(history['Date'], history['MA_50'], label='MA 50', linestyle='--')
plt.title('Coca-Cola Moving Averages')
plt.legend()
plt.show()

In [ ]:
plt.figure(figsize=(10,6))
sns.heatmap(history.corr(), annot=True, cmap='coolwarm')
plt.title('Correlation Heatmap')
plt.show()

## ðŸ’¡ Insights
- Coca-Cola stock has shown consistent upward trends with periodic fluctuations.
- Moving averages help identify long-term trends.
- Volume indicates active trading periods.
- Strong correlation between Open, High, Low, and Close values.